# Temp files
*~
*#

# Node Modules
node_modules
npm-debug.log

# File system
.DS_Store

# Sublime Text
*.sublime-project
*.sublime-workspace

# Game stuff
app/public/spacemaybe
app/server/views/space.jade

# Authorization llama says Shoo.
keys.json
