header.blurable
	nav.colored
		span#home
			a(href="/").icon &#xF015;

		b |

		span#about
			a(href="about").desktop.txt About
			a(href="about").mobile.icon &#xF05A;

		b |

		span#projects
			a(href="projects").desktop.txt Projects
			a(href="projects").mobile.icon &#xF07C;

		b |

		span#blog
			a(href="blog").desktop.txt Blog
			a(href="blog").mobile.icon &#xF040;

		b |

		span#github
			a(href="https://github.com/Fishrock123").icon &#xF09B;

		b |

		span#twitter
			a(href="https://twitter.com/Fishrock123").icon &#xF099;
	.line
.header-padd