header.blurable
  nav.colored
    span#home
      a(href="/").txt Home

    b |

    span#about
      a(href="about").txt About

    b |

    span#contact
      a(href="contact").txt Contact

  .line
.padd-header
