head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no")
  link(type="text/plain", rel="author", href="https://searchbeam.jit.su/humans.txt")
  link(rel="stylesheet", href="s/ref.min.css")
