//if lt IE 9
	ul(style="list-style:none;list-style-image:none;")
		li(style="color:red;font-size:32px;text-align:center;") WARNING: Older versions of Internet Explorer do not comply with modern web standards!
		li(style="color:red;font-size:32px;text-align:center;") You should upgrade to IE9+, or preferably, use Google Chrome / Firefox.
		br
		br
		br
		li(style="color:red;font-size:32px;text-align:center;") No, Seriously. Are you even listening?