noscript
  .err
    p
      code.large This Site Is Kinda Broke Without JavaScript. :(
      br
      | If you enable it and reload this page everything will work.
      a(href="http://enable-javascript.com/", target="_blank") How?
