doctype html
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
  include template/head
    title About SearchBeam Developments
    link(rel="prev", href="/").nope
    link(rel="next", href="/projects").nope

  .shadow
    include template/header-nav

  body
    include template/ie8
    .blurable.colored
      .padd-half
      .wide.centered

      h1.centered
        .orange.inline Searchbeam
        |  is
        .dark.inline  Jeremiah Senkpiel

      address.about
        | aka "Fishrock123"
        .inline-padd &bull;
        a(href="mailto:jeremiah.senkpiel@gmail.com?subject=Why hello there, good sir.").icon &#xF003;
        .inline-padd &bull;
        a(href="https://google.com/+JeremiahSenkpiel", target="_blank").icon &#xF0D5;
        .inline-padd &bull;
        a(href="http://www.linkedin.com/pub/jeremiah-senkpiel/73/878/bb7", target="_blank").icon &#xF0E1;

      p.about.wide.centered.downset - A 20 year old Canadian who is constantly hacking away at various projects.

      .left
        .padd-half
          .line
          .column
            .padd-about
              h2
                .icon.icon-small &#xF054;
                |   Backstory
              p.about I've spent the last 2 years learning to write clean and functional code by working on real-world projects.

              p.about Back in October 2011, there was a problem. Many Minecraft servers spawned too many entities, causing themselves considerable performance issues.

              p.about Due to the lack of any existing solutions at the time, I decided to go about fixing it by teaching myself how to make a plugin for the Minecraft server mod Bukkit.

              p.about Later that month, I had the first version ready. Made in Java, the plugin was unglorified and short on features, but it worked.

              p.about After publishing it on DevBukkit, it gained some popularity, which drove me to further into Java so that I could develop it for my users.

              p.about Now I'm building websites, servers, and even my own games in JavaScript. However, as much as I like this, I long for a user-base to support once again.

              p.about Being able to provide users what they want and need is incredibly enjoyable and fulfilling for me.

              p.about Hopefully, I'll soon be there once again.
              .padd-half
          .column
            .padd-half
            .padd-small
            .padd-about
              blockquote
                .about “… able to easily turn a mock-up into reality, he is a reliable and skilled web developer.”
                .padd-half
                cite
                  | - Sara Miscavage, <!---->
                  a(href="http://www.kappacino.com/", target="_blank") &nbsp;kappacino.com
              .padd-small
              .padd-small
              .blog-line
              .padd-small
              .padd-small
              blockquote
                .about “Awesome work. +1. Merged.” &nbsp;
                  a(href="https://github.com/artursapek/mondrian/pull/41#issuecomment-34943375", target="_blank").small.icon &#xF08E;
                .padd-half
                  cite
                    | - Artur Sapek, <!---->
                    a(href="http://www.codecademy.com/", target="_blank") &nbsp;Codecademy
              .padd-small
              .padd-small
              .blog-line
          .wide.centered
            .text-left
              .padd-small
              h2
                .icon.icon-small &#xF054;
                |   Philosophy
              p.about I greatly enjoy developing and shipping products, always striving for the highest possible quality.

              p.about Iteration is an integral part of my daily workflow, and I'm never afraid to re-write things for the better. I'm a constant learner and firmly believe that hands-on experience is crucial.

              p.about Slightly obsessed with optimization, I'm always looking for an opportunity to improve existing products. I never see any project as fully done; everything is an ongoing progressive development.

              p.about Design is a critical thing. The most minute of pixels can make all the difference. User experience must be clean and direct. Strip everything unnecessary.

              p.about Try new things. Step out into the unknown. Break the normal. Do not capitulate.
            .padd-half

          .wide.centered
            .padd-small
            h2 Expertise
            .padd-small
            .about
              b.dark.boxed JavaScript

              b.dark.boxed
                abbr(title="Server-side JavaScript") Node.js

              b.dark.boxed HTML5

              b.dark.boxed
                abbr(title="Cascading Style Sheets") CSS

              b.dark.boxed
                abbr(title="Version Control & GitHub.com") Git(Hub)

              b.dark.boxed
                abbr(title="Prettier JavaScript") CoffeeScript

              b.dark.boxed
                abbr(title="Mac OS X") OS X

              .boxed Game Development

              .boxed Minimalist Design

              .boxed
                abbr(title="Representational State Transfer") REST

              .boxed
                abbr(title="Node HTML Template Engine") Jade

              .boxed
                abbr(title="Sinatra-like Node Web App Framework") Express

              .boxed
                abbr(title="Abstraction Layer for Real-Time Node.js Networking.") Primus

              .boxed
                abbr(title="The Best WebGL 2D Renderer") Pixi.js

              .boxed jQuery

              .boxed
                abbr(title="Dynamic CSS Extension") LESS

              .boxed
                abbr(title="The Best Plain Text HTML Formatting Syntax") Markdown

              .boxed Java

              .boxed
                abbr(title="Node Task Runner") Grunt

              .boxed.small
                abbr(title="Scalable Vector Graphics") SVG

              .boxed.small
                abbr(title="MongoDB Object Modeling") Mongoose

              .boxed.small
                abbr(title="MongoDB, Redis, Etc.") NoSQL

              .boxed.small Ruby (&amp; Rails)
            .padd-half
          .wide.centered
            .padd-small
            h2 My Work
            .padd-small
            .about

              a(href="https://github.com/Fishrock123/primus-spark-latency", target="_blank").boxed primus-spark-latency

              a(href="https://github.com/Fishrock123/grunt-json-summarizer", target="_blank").boxed grunt-json-summarizer

              a(href="http://mondrian.io/", target="_blank").boxed mondrian.io

              a(href="https://github.com/expressjs/compressible", target="_blank").boxed compressible

              a(href="https://github.com/Fishrock123/beautify-benchmark", target="_blank").boxed beautify-benchmark

              a(href="https://github.com/fishrock123/searchbeam", target="_blank").boxed searchbeam.jit.su

              a(href="http://kappacino.com/", target="_blank").boxed kappacino.com

              a(href="https://github.com/fishrock123/cli-status", target="_blank").boxed cli-status

              a(href="http://searchbeam.jit.su/xenon", target="_blank").boxed Xenon

              a(href="http://dev.bukkit.org/bukkit-mods/noentitygrief/", target="_blank").boxed NoEntityGrief

              a(href="http://dev.bukkit.org/bukkit-mods/geoiptools/", target="_blank").boxed GeoIPTools

              a(href="http://dev.bukkit.org/bukkit-mods/entitysuppressor/", target="_blank").boxed EntitySuppressor
            .padd-small
            .about
                a(href="https://github.com/fishrock123", target="_blank").boxed
                  .inline.icon &#xF113;
                  | &nbsp; My GitHub Contributions
            .padd-half

          .wide.centered
            .padd-small
            h2
              .icon.icon-small &#xF0B1;
              |   Employment &amp; Volunteering
            .padd-small
            p.about.inline
              b Freelance Web (Full-Stack) Developer
              .e-date.inline  &nbsp;(2012 - Current)
            p.about.inline
              b Volunteer
              | , <!---->
              a(href="http://www.calvary.on.ca/") Calvary Baptist Church
              |  - Lighting Technician
              .e-date.inline  &nbsp;(2011 - 2012)
            p.about.inline
              b Volunteer
              | , <!---->
              a(href="http://www.whitbybrassband.com/juniorband.php") Whitby Brass Band
              |  - Percussionist
              .e-date.inline  &nbsp;(2011 - Current)
            .padd-half


          .wide.centered
            .padd-small
            include template/noscript
            h2#etcbtn
              a(href="")
                | Watercooler <!---->
                span.icon#etc_arrow &#xF077;
            .padd-about.hidden#etc
              .about I absolutely love being outside, camping is a must in the summer!
              .padd-small
              .about
                | I do some photography, which can be seen on my <!---->
                a(href='http://www.flickr.com/photos/42104933@N03/', target='_blank') Flickr
                | .
              .padd-small
              .about I'm the Dungeon Master for a Dungeons &amp; Dragons adventure.
              .padd-small
              .about I lack proficiency with a nerf gun, but I shoot .22 calibre rifles occasionally.

            .padd-half

  .shadow
    include template/footer

      script.
        // Be more specific for the 'about' page.
        ga('create', 'UA-41544042-2', 'jit.su');
        ga('send', 'pageview');

        $(document).ready(function() {
          $('#etcbtn').click(function(e) {
            if ($('#etc').is(':visible')) {
              $('#etc_arrow').removeClass('invert');
              $('html, body').animate({
                scrollTop: $('#etc').offset().top + $('#etc').height() - 52 /* Height of footer and margins */ - $(window).height()
              }, 300, 'swing', function() {
                $('#etc').addClass('hidden');
              });
            } else {
              $('#etc_arrow').addClass('invert');
              $('#etc').removeClass('hidden');
              $('html, body').animate({
                scrollTop: $(document).height() - $(window).height()
              }, 300);
            }
            return false;
          });
        });
