doctype html
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
  include template/head
    title About SearchBeam Developments
    link(rel="prev", href="/").nope
    link(rel="next", href="/contact").nope

  .shadow
    include template/header-nav

  body
    include template/ie8
    .blurable.colored
      .padd-half
      .wide.centered

      h1.centered
        .orange.inline Searchbeam
        |  is
        .dark.inline  Jeremiah&nbsp;Senkpiel

      p.about
        | aka "Fishrock123"

      p.about.wide.centered.downset 22 &nbsp;-&nbsp; Canadian &nbsp;-&nbsp; Self-Taught
      
      .padd-small

      .left
        .padd-half
          .line
          .wide.centered
            .padd-about.centered.text-left.inline-b
              h2
                .icon.icon-small.chevron
                | well then
              p.about I type things and computers do things.

              p.about Web & tools developer.
              
              p.about 
                a(href="https://github.com/nodejs/io.js#tsc-technical-steering-committee") node.js 
                |  Technical Committee member.

              p.about Open-source collaborater.
              
            .padd-small

            .padd-about.text-left
              h2
                .icon.icon-small.chevron
                | Philosophy
              p.about Ship fast and consistently, but do not sacrifice quality.

              p.about Continue iteratation. Failures are learning experiances. Maintain hands-on experiance.

              p.about Design is a critical thing. User experience must be clean and direct. Strip what is unnecessary.

              p.about Try new things. Step out into the unknown. Do not capitulate.
            .padd-half

          .wide.centered
            .padd-small
            h2 Expertise
            .padd-small
            .about
              b.dark.boxed JavaScript
              
              b.dark.boxed
                abbr(title="Server-side JavaScript") io.js / Node.js
                
              b.dark.boxed
                abbr(title="Version Control & GitHub.com") Git & Github
                
              b.dark.boxed
                abbr(title="Mac OS X") OS X
              
              b.dark.boxed HTML5

              b.dark.boxed
                abbr(title="Cascading Style Sheets") CSS
                
              .boxed
                abbr(title="Browser Rendering and One-way data Flow") React & Flux
                
              .boxed
                abbr(title="The Streaming Build System") Gulp.js
                
              .boxed
                abbr(title="Fast, Unopinionated, Minimalist Web Framework") Express
              
              .boxed
                abbr(title="Expressive, Dynamic, Robust CSS") Stylus

              .boxed Game Development

              .boxed
                abbr(title="Awesome JavaScript Test Framework") Mocha
                
              .boxed
                abbr(title="Abstraction Layer for Real-Time Node.js Networking.") Primus (websockets)

              .boxed
                abbr(title="The Best Plain Text HTML Formatting Syntax") Markdown

              .boxed
                abbr(title="Dynamic CSS Extension") LESS
                
              .boxed
                abbr(title="Node HTML Template Engine") Jade

              .boxed
                abbr(title="The Best WebGL 2D Renderer") Pixi.js
                
              .boxed Minimalist Design
                
              .boxed.small 
                abbr(title="A Blazing-Fast Safe Systems Programming Language") Rust
                
              .boxed.small Python

              .boxed.small
                abbr(title="Prettier JavaScript") CoffeeScript

              .boxed.small Java

              .boxed.small Ruby (&amp; Rails)
            .padd-half
          .wide.centered
            .padd-small
            h2 My Work
            .padd-small
            .about
              
              a(href="https://iojs.org", target="_blank").boxed iojs.org

              a(href="https://zambah.com", target="_blank").boxed zambah.com

              a(href="https://github.com/jshttp/style-guide", target="_blank").boxed jshttp's style guide

              a(href="https://github.com/repo-utils/org-labels", target="_blank").boxed org-labels

              a(href="https://github.com/Fishrock123/primus-spark-latency", target="_blank").boxed primus-spark-latency

              a(href="https://github.com/Fishrock123/grunt-json-summarizer", target="_blank").boxed grunt-json-summarizer

              a(href="http://mondrian.io/", target="_blank").boxed mondrian.io

              a(href="https://github.com/expressjs/compressible", target="_blank").boxed compressible

              a(href="https://github.com/Fishrock123/beautify-benchmark", target="_blank").boxed beautify-benchmark

              a(href="http://kappacino.com/", target="_blank").boxed kappacino.com

              a(href="http://dev.bukkit.org/bukkit-mods/noentitygrief/", target="_blank").boxed NoEntityGrief

            .padd-small
            .about
                a(href="https://github.com/fishrock123", target="_blank").boxed
                  .inline.icon &#xF113;
                  | &nbsp; My GitHub Contributions
            .padd-half

          .wide.centered
            .padd-about
              .padd-small
              h2
                .icon.icon-small &#xF0B1;
                |   Employment &amp; Volunteering
              .padd-small
              p.about
                .inline-b
                  b Volunteer
                  | , <!---->
                  a(href="https://github.com/iojs") io.js
                  |  - Technical Committee
                .e-date.inline-b  &nbsp;(2015 - Current)
              p.about
                .inline-b
                  b Node.js Web Developer
                  | , <!---->
                  a(href="http://zambah.com") Zambah Inc
                .e-date.inline-b  &nbsp;(2014 - 2015)
              p.about
                .inline-b
                  b Volunteer
                  | , <!---->
                  a(href="https://github.com/expressjs") Express.js
                  |  - Collaborator
                .e-date.inline-b  &nbsp;(2014 - Current)
              p.about
                .inline-b
                  b Freelance Node.js Web Developer
                .e-date.inline-b  &nbsp;(2012 - 2014)
              p.about
                .inline-b
                  b Volunteer
                  | , <!---->
                  a(href="http://www.whitbybrassband.com/juniorband.php") Whitby Brass Band
                  |  - Percussionist
                .e-date.inline-b  &nbsp;(2011 - Current)
              .padd-small


          .wide.centered
            .padd-small
            include template/noscript
            h2#etcbtn
              a(href="")
                | Watercooler <!---->
                span.icon#etc_arrow &#xF077;
            .padd-about.hidden#etc
              .about I absolutely love being outside, hiking is a must!
              .padd-small
              .about
                | I do some photography, which can be seen on my <!---->
                a(href='http://www.flickr.com/photos/42104933@N03/', target='_blank') Flickr
                | .
              .padd-small
              .about I'm the Dungeon Master for a Dungeons &amp; Dragons (5E) adventure.
              .padd-small
              .about I lack proficiency with a nerf gun, but I shoot .22 calibre rifles occasionally.

            .padd-half

  .shadow
    include template/footer
