doctype html
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
  include template/head
    title About SearchBeam Developments
    link(rel="prev", href="/").nope
    link(rel="next", href="/projects").nope

  .shadow
    include template/header-nav

  body
    include template/ie8
    .blurable.colored
      .padd-half
      .wide.centered

      h1.centered
        .orange.inline Searchbeam
        |  is
        .dark.inline  Jeremiah Senkpiel

      p.about
        | aka "Fishrock123"

      p.about.wide.centered.downset 21 &nbsp;-&nbsp; Canadian &nbsp;-&nbsp; Community-educated

      .left
        .padd-half
          .line
          .column
            .padd-about
              h2
                .icon.icon-small &#xF054;
                |   well then
              p.about I type things and computers do things.

              p.about Across the web, front and back, browsers and servers.

              p.about Open-source collaborater and community member.
              .padd-half
          .column
            .padd-half
            .padd-small
            .padd-about
              blockquote
                .about “… able to easily turn a mock-up into reality, he is a reliable and skilled web developer.”
                .padd-half
                cite
                  | - Sara Miscavage, <!---->
                  a(href="http://www.kappacino.com/", target="_blank") &nbsp;kappacino.com
              .padd-small
              .padd-small
              .blog-line
          .wide.centered
            .text-left
              .padd-small
              h2
                .icon.icon-small &#xF054;
                |   Philosophy
              p.about I greatly enjoy developing and shipping products, always striving for the highest possible quality.

              p.about Iteration is an integral part of my daily workflow, and I'm never afraid to re-write things for the better. I'm a constant learner and firmly believe that hands-on experience is crucial.

              p.about Slightly obsessed with optimization, I'm always looking for an opportunity to improve existing products. I never see any project as fully done; everything is an ongoing progressive development.

              p.about Design is a critical thing. The most minute of pixels can make all the difference. User experience must be clean and direct. Strip everything unnecessary.

              p.about Try new things. Step out into the unknown. Break the normal. Do not capitulate.
            .padd-half

          .wide.centered
            .padd-small
            h2 Expertise
            .padd-small
            .about
              b.dark.boxed JavaScript

              b.dark.boxed
                abbr(title="Server-side JavaScript") Node.js

              b.dark.boxed
                abbr(title="Fast, Unopinionated, Minimalist Web Framework.") Express

              b.dark.boxed
                abbr(title="Version Control & GitHub.com") Git & Github

              b.dark.boxed HTML5

              b.dark.boxed
                abbr(title="Cascading Style Sheets") CSS

              b.dark.boxed
                abbr(title="Mac OS X") OS X

              .boxed Game Development

              .boxed Minimalist Design

              .boxed
                abbr(title="Representational State Transfer") REST

              .boxed
                abbr(title="Node HTML Template Engine") Jade

              .boxed
                abbr(title="Awesome JavaScript Test Framework") Mocha

              .boxed
                abbr(title="The Best Plain Text HTML Formatting Syntax") Markdown

              .boxed
                abbr(title="Abstraction Layer for Real-Time Node.js Networking.") Primus

              .boxed
                abbr(title="The Best WebGL 2D Renderer") Pixi.js

              .boxed
                abbr(title="Dynamic CSS Extension") LESS

              .boxed
                abbr(title="Expressive, Dynamic, Robust CSS") Stylus

              .boxed
                abbr(title="Node Task Runner") Grunt

              .boxed.small
                abbr(title="Prettier JavaScript") CoffeeScript

              .boxed.small jQuery

              .boxed.small
                abbr(title="Scalable Vector Graphics") SVG

              .boxed.small Java

              .boxed.small
                abbr(title="A Database for the Web") CouchDB

              .boxed.small
                abbr(title="MongoDB Object Modeling") Mongoose

              .boxed.small
                abbr(title="MongoDB, Redis, Etc.") NoSQL

              .boxed.small Ruby (&amp; Rails)
            .padd-half
          .wide.centered
            .padd-small
            h2 My Work
            .padd-small
            .about

              a(href="https://github.com/repo-utils/org-labels", target="_blank").boxed org-labels

              a(href="https://github.com/Fishrock123/set-env", target="_blank").boxed set-env

              a(href="https://github.com/expressjs/mime-types", target="_blank").boxed mime-types

              a(href="https://github.com/Fishrock123/primus-spark-latency", target="_blank").boxed primus-spark-latency

              a(href="https://github.com/Fishrock123/grunt-json-summarizer", target="_blank").boxed grunt-json-summarizer

              a(href="http://mondrian.io/", target="_blank").boxed mondrian.io

              a(href="https://github.com/expressjs/compressible", target="_blank").boxed compressible

              a(href="https://github.com/Fishrock123/beautify-benchmark", target="_blank").boxed beautify-benchmark

              a(href="https://github.com/fishrock123/searchbeam", target="_blank").boxed searchbeam.jit.su

              a(href="http://kappacino.com/", target="_blank").boxed kappacino.com

              a(href="http://dev.bukkit.org/bukkit-mods/noentitygrief/", target="_blank").boxed NoEntityGrief

              a(href="http://dev.bukkit.org/bukkit-mods/entitysuppressor/", target="_blank").boxed EntitySuppressor

            .padd-small
            .about
                a(href="https://github.com/fishrock123", target="_blank").boxed
                  .inline.icon &#xF113;
                  | &nbsp; My GitHub Contributions
            .padd-half

          .wide.centered
            .padd-small
            h2
              .icon.icon-small &#xF0B1;
              |   Employment &amp; Volunteering
            .padd-small
            p.about.inline
              b Node.js Web Developer
              | , <!---->
              a(href="http://zambah.com") Zambah Inc
              .e-date.inline  &nbsp;(2014 - Current)
            p.about.inline
              b Volunteer
              | , <!---->
              a(href="https://github.com/expressjs") Express.js
              |  - Admin & Collaborator
              .e-date.inline  &nbsp;(2014 - Current)
            p.about.inline
              b Freelance Node.js Web Developer
              .e-date.inline  &nbsp;(2012 - Current)
            p.about.inline
            p.about.inline
              b Volunteer
              | , <!---->
              a(href="http://www.whitbybrassband.com/juniorband.php") Whitby Brass Band
              |  - Percussionist
              .e-date.inline  &nbsp;(2011 - Current)
            .padd-half


          .wide.centered
            .padd-small
            include template/noscript
            h2#etcbtn
              a(href="")
                | Watercooler <!---->
                span.icon#etc_arrow &#xF077;
            .padd-about.hidden#etc
              .about I absolutely love being outside, camping is a must in the summer!
              .padd-small
              .about
                | I do some photography, which can be seen on my <!---->
                a(href='http://www.flickr.com/photos/42104933@N03/', target='_blank') Flickr
                | .
              .padd-small
              .about I'm the Dungeon Master for a Dungeons &amp; Dragons (5E) adventure.
              .padd-small
              .about I lack proficiency with a nerf gun, but I shoot .22 calibre rifles occasionally.

            .padd-half

  .shadow
    include template/footer
