for post in posts
	include blogPost

if lastPage && page === 0
	script.
		page = #{page};
		$('#older').hide();
else if lastPage
	script.
		page = #{page};
		$('#newer').show();
		$('#spacer').hide();
		$('#older').hide();
else if page > 0
	script.
		page = #{page};
		$('#newer').show();
		$('#spacer').show();
		$('#older').show();
else
	script.
		page = #{page};
		$('#older').show();
		$('#newer').hide();
		$('#spacer').hide();