doctype html
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
  include template/head
    title SearchBeam - Developing for the full-stack JavaScript web.
    meta(name="keywords", content="searchbeam, search, beam, search beam, jeremiah, senkpiel, jeremiah senkpiel, fishrock, fishrock123, node, node.js, nodejs, node js, full-stack, full stack, front-end, front end, javascript, developer, web developer, development, dev, web dev, web, code, html5, css, git, express, expressjs, express developer, expressjs developer")
    meta(name="description", content="Node.js Web Developer. Full-Stack Perspective. Express.js Administrator.")
    link(rel="next", href="/about").nope

  include template/header-nav

  body
    include template/ie8
    .blurable
      .column
        .padd-top
        .logo-padd
          .logo.orange SearchBeam
          .logo.dark Developments
        .content-line
      .column
        .column-line
          .padd-top
          .padd-small
          .padd
            h1.home-centered
              ul
                li
                  a(href="http://nodejs.org") Node.js
                  |  Web Developer.
                li Full-Stack Perspective.
                li
                  a(href="https://github.com/expressjs") Express.js
                  |  Administrator.
            br
            include template/noscript

  include template/footer

  //
    hQIMA0X17r2BPa6OARAAts9pA1MfcKSJb6EVn7WcmUxFrYRsaV6KQIGrhMClpAGb
    L+/iEY9L68gFJSVZffrkA5/prw+bGWbir19QQVA3AmRE7W8OOxfylEJbbm9dUPyx
    LS+h+Wz/uyaU1JYnuU0ikzPCQ/B9/Bm8nQc+GJqRfTzHaR3AHdq3owY1HorkePSi
    YoT1A/lgfrAotqfT25kWlW+b4qNwL9mv2+gbfcSurNJVWqi1Z1iNMon0y8zJe93a
    bB6+crEk5yPXLK77OKm31MSrx91Fj2lkfnNcuFmUkisu3YH+F3wP02fwcEpRMuuf
    lYLms/Yx78taF08nPKZTVJ7i9UWFcQ59GeeVWW0PoSKkMXOmBatcIyBjppgUK4oe
    8e9S/C36dFl/G28xn7Ug7cI5YTBjU1lNn83RWuHFRVk0Sq1UDIRIpKyMVFM0+8fM
    sirCZnfyIVzw/2ATgFhk5horoGMI0NpsiL8/Ii9PQlSYaxmbIeTJxbqXEtR8PmMq
    bxZT7EsmU9tqieevD0Z/qHZ39rSVmkoX4ADODqhyHpxC+f218RntZrClD0XD1p31
    Nwt3qTzk6g51EtXOALIPwYD4CXKZkcWgFq0GOg7WsqF5DXCTdHhox2JDeySGP3cX
    4x/hGI4ulNgbwLV5K0/Ps3ypofk9OFeO9q0QKWgBMfRPx7k7gtoIKRHEZa8xt5HS
    RQF8Kt/lGeo98zHMc0BWyIMFmA9ZZnfESuXcYTK7GNeT/wkAsUdqiy3fPSWQHy0m
    U8tkhtqYDCL0Gh0y62MdOw2Z4t/Q3w==
    =FYOV
