!!! 5
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
	include template/head
		title SearchBeam - Developing for the full-stack JavaScript web.
		meta(name="keywords", content="searchbeam, search, beam, node, node.js, full-stack, front-end, javascript, developer, development, dev, web, code, html5, css, jquery, git")
		meta(name="description", content="A web developer who works from a full-stack perspective, utilizing HTML5, CSS, jQuery, & Node.js.")

	include template/header-nav

	body
		include template/ie8
		.blurable
			.column
				.padd-top
				.logo-padd
					.logo-orange SearchBeam
					.logo-dark Developments
				.content-line
			.column
				.column-line
					.padd-top
					.padd-small
					.padd
						h1
							| A web developer who works from a full-stack perspective, utilizing HTML5, CSS, jQuery, &amp;  <!---->
							a(href="http://nodejs.org") Node.js
							| .
						br
						include template/noscript
						br
						h2
							.centered
							a(href="about") About Me
							|  | <!---->
							a(href="projects") My Projects

	include template/footer

	//U2FsdGVkX18sUBPioxnd1jpMZTSFkc+e4jy/dcV0xKg=
