if user
  span#ainfo.inline Hello #{user.username}! - Logout
  span.inline.icon   &#xF08B;
  script.
    user = true;
else
  span#ainfo.inline Login
  span.inline.icon   &#xF090;
  script.
    user = false;