!!! 5
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
	head
		meta(charset="UTF-8")
		code
			meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="/s/xenon.min.css")
		link(rel="stylesheet", href="/s/animate.min.css")
		title Xenon Changelog

	body
		include ../template/ie8
		header
			.wip
				img(src="/s/wip.svg", alt="Work In Progress!")

			nav.animated.bounceInLeft
				a(href="/xenon").btn.btn-normal &laquo; Home

		.column
			.padd.list
				.title
					br
					br
					| Changelog
					br
					br
				.norm
					div#todo
						| Todo:
						br
						ul
							li Implement NPCs
							li Player Trade GUI
							li Money
							li 'Bank' chests
							li Complex buildings
							li Polygon based land formations
							li Roads
							li Better HUD
							li Movable player-made cannons
							li Player-made combat 'structures'
							li New weapon(s)
							li Even better networking
						br
					div#in-progress
						| Working on:
						br
						ul
							li Better sprites &amp; artwork
							li Trees
							li More materials
							li Plants
							li Much better UI
						br
					div#0_8
						Completed for 0.8:/br
						ul
							li Chatbox multi-line text wrapping
							li Better player movement
							li More efficient collision detection
							li New options menu
							li Menu overhaul
							li Dropped items spread out
							li Player footprints
							li Equipment overhaul
							li Ammo and Projectile improvements
						br
					div#0_7_2
						| 0.7.1 &amp; 0.7.2:
						br
						ul
							li Just bug fixes
						br
					div#0_7
						| 0.7:
						br
						ul
							li Sounds overhaul
							li Player-made ammo
							li Stackable items
							li Manufacturing
							li More ores &amp; materials
							li Better player death (downed state)
							li Text intro
							li Signs (display text)
						br
					div#0_6_3
						| 0.6.3:
						br
						ul
							li Async login
							li Retrieve Server IP from xenon.jit.su
						br
					div#0_6
						| 0.6:
						br
						ul
							li Global Chatbox
							li Ludicrously better networking
							li Pickaxes &amp; mineable rocks

	footer
		br
		br
		br
		div &copy; 2012 Fishrock123
