!!! 5
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
  head
    meta(charset="UTF-8")
    code
      meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/s/xenon.min.css")
    link(rel="stylesheet", href="/s/animate.min.css")
    title Xenon

  body
    header
      .wip
        img(src="/s/wip.svg", alt="Work In Progress!")

    .animated.fadeInDown
      img(src="/s/XenonLogo.jpg", title="Xenon", alt="Xenon")

    include ../template/ie8
    div
      br
      .column
        .padd
          | Hey there citizen of the Internet! I'm known as Fishrock123, and
          | Xenon is a work in progress game of mine.

          br
          br

          .inline
            a(href="http://www.twitter.com/fishrock123") Twitter
            |  | <!---->
            a(href="mailto:fishrock123@rocketmail.com?subject=Xenon") Email
          br
          br
        .padd
          p.descr
            | Xenon, a mystical wild west. You and your friends are the law.
            | Virtually all supplies are player made. A world kept in check just enough to maintain the balance.
            | Expansive, open-world, open-ended, multiplayer gameplay. <!---->
            a(href="/xenon/info").inline.animated.fadeInLeft More &raquo;

      .column
        .padd
          script.
            if (navigator.appVersion.indexOf("Win")!=-1) document.write("<a href='" + "xenon/downloads" + "' class='btn btn-large'>" + "Download Xenon for Windows" + "</a>");
            if (navigator.appVersion.indexOf("Mac")!=-1) document.write("<a href='" + "xenon/downloads" + "' class='btn btn-large'>" + "Download Xenon for Mac OSX" + "</a>");
            if (navigator.appVersion.indexOf("X11")!=-1) document.write("<a href='" + "xenon/downloads" + "' class='btn btn-large'>" + "Download Xenon.zip" + "</a>");
            if (navigator.appVersion.indexOf("Linux")!=-1) document.write("<a href='" + "xenon/downloads" + "' class='btn btn-large'>" + "Download Xenon for Linux (.zip)" + "</a>");
          br
          br

          a(href="/xenon/changelog").btn.btn-small Changelog
          br
          br
          br

          div#status

    noscript
      .err
        p
          | This Site Is Kinda Broke Without JavaScript. :(
          br
          | If you enable it and reload this page everything will work.
          a(href="http://enable-javascript.com/", target="_blank") How?

  footer
    br
    br
    br
    div &copy; 2012 Fishrock123, Logo by <a href="https://twitter.com/djs18">Daniel Straub

    // Retina-ize this page!
    script(src="/s/retina.min.js")
    // Google Analytics, yo!
    script.

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34588681-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    // JQuery!
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    // Get the game server's status every 8 seconds.
    script.
      $(function() {
        getStatus();
        window.setInterval(getStatus, 8000);

        function getStatus() {
          $.ajax({
            url: "/xenon/status",
            type: "GET",
            success: function(result) {
              $('#status').fadeOut('slow', function() {
                $(this).text(result).fadeIn('slow');
              });
            }
          });
        }
      });
