!!! 5
//This site is hosted on node.js by nodejitsu! :D
html(lang="en")
  head
    meta(charset="UTF-8")
    code
      meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/s/xenon.min.css")
    link(rel="stylesheet", href="/s/animate.min.css")
    title Xenon Info
  body
    include ../template/ie8
    header
      .wip
        img(src="/s/wip.svg", alt="Work In Progress!")

      .animated.bounceInLeft
        a(href="/xenon").btn.btn-normal &laquo; Home

    div
      .column
        .padd
          .title
            | The mystical wild west.
          br
          br
          p.descr
            | Xenon is set in a fantasy world akin to a mystical wild west.
            | If you're not in a town, you and your friends are the law.
            | People don't just give you ammunition and supplies, you've got to make your own stuff to survive out there.
            | Albeit killing people isn't to be taken lightly, there can be serious repercussions;
            | somebody might want you down for killing their friend, you see.
            | Thankfully if you 'die', the spectral guardians will renew you at one of their obelisks.
            | They're here to keep the world in balance, and to make sure young whippersnappers don't destroy the world on a whim.

        br
        br
        .padd
          .title Why?
          br
          br
          p
            | Xenon was originally built on a whim. An experiment of modifying <!---->
            a(href="http://x2d.org/about/") Måns Olson
            | 's <!---->
            a(href="http://x2d.org/posts/cavernous-shooter/") 'Cavernous Shooter'
            |  to add multiplayer that grew into something bigger. Something with a vision.
            br
            br

            | In my mind, Xenon fills a nice gap left by other games of it's type.
            | Something that is 'massively' online and has a good taste of the best, yet merely...
            br
            | simpler, cleaner, and truly fun.

  footer
    br
    br
    br
    | &copy; 2012 Fishrock123
